* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #100e17;
  height: 100vh;
}

.nav {
  background-color: black;
  height: 50px;
}

.nav__container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

.nav__title {
  color: white;
}

.main__container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
